<!-- Modal Login start -->
<div class="modal fade" id="ModalPrice" tabindex="-1" role="dialog" >

  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="text-center title" > <strong>PLAN SEMANA</strong> </h3>
      </div>

      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <tr>
            <th class="text-center">Plan</th>
            <th class="text-center">Costo/Noche ($)</th>
          </tr>
          <tbody>
            <tr class="text-center">
              <td>Hospedaje + Desayuno</td>
              <td>138.000</td>
            </tr>
            <tr class="text-center">
              <td>Hospedaje + Desayuno + 2 Comidas</td>
              <td>198.000</td>
            </tr>            
          </tbody>
        </table>

        <hr>

        <h3 class="text-center title"> <strong>PLAN FIN DE SEMANA</strong> </h3>

        <table class="table table-bordered table-hover">
          <tr>
            <th class="text-center">Plan</th>
            <th class="text-center">Costo/Fin de Semana ($)</th>
          </tr>          
          <tbody>
            <tr class="text-center">
              <td>Hospedaje + Desayuno</td>
              <td>238.000</td>
            </tr>
            <tr class="text-center">
              <td>Hospedaje + Desayuno + 2 Comidas</td>
              <td>298.000</td>
            </tr>  
          </tbody>
        </table>

        <div class="text-center">
          <span>
            Todas las tarifas son precio final por persona e incluye Hidratación durante el día: guandolo y jugos de fruta de temporada.<br>
            <hr>
            <strong>SOBRE NUESTROS NIÑOS VISITANTES</strong><br><br>
            
            Tener presente que su cuidado, todo el tiempo, está a cargo de los padres.<br><br>

            <table class="table table-bordered table-hover">
              <tr>
                <th class="text-center">Edad</th>
                <th class="text-center">Valor ($)</th>
              </tr>          
              <tbody>
                <tr class="text-center">
                  <td>0 a 2 años</td>
                  <td>No Pagan</td>
                </tr>
                <tr class="text-center">
                  <td>3 a 7 años</td>
                  <td>90.000</td>
                </tr> 
                <tr class="text-center">
                  <td>8 a 12 años</td>
                  <td>120.000</td>
                </tr>  
              </tbody>
            </table>
                         
            Todas las tarifas son precio final por persona e incluye Hidratación durante el día: guandolo y jugos de fruta de temporada.<br><br>
  
            La piscina y Jacuzzi (únicamente para los huéspedes del hotel), disponibles entre 10 A.M. y 10 P.M. (Salvo en días y horas de lluvia, en que se suspende el servicio).<br><br>

            Recomendaciones: tenga presente que el clima es cálido y que para la piscina y ratos de sol, debe procurarse protección. Aunque siempre tendrá la opción de lugares con buena ventilación y habitaciones todas con aire acondicionado.<br><br>
          </span>
        </div>
      </div>
    <!-- /.modal-content --> 
    </div>
  </div>
  <!-- /.modal-dialog --> 
  
</div>
<!-- /.Modal Login --> 

<style>
  body{
    font-family: "Lato";
  }
</style>