<style>
  .galleria{ width: 100%; 
  	height: 688px; 
  	background: #000; 
  	margin: 0; 
  }
</style>


<header style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/casa.jpg');">
    <div class="intro-content">
        <div class="brand-name">BIENVENIDOS A CASA HORIZONTES</div>
        <div class="brand-name-subtext">Un hotel en el paraíso.</div>
    </div>
</header>

<section id="resume_about_us">
    <div class="container-fluid">       
       <div class="row" id="opacity_text">
           <div class="col-md-6 nopadding">
              <aside class="cta-quote the_temple_2" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/2.jpg');">           
              </aside> 
           </div>
           <div class="col-md-6 nopadding text-center">
                <div id="section_text_box">                         
                    <span class="section-text">
                    	CASA HORIZONTES, ubicada en el idílico pueblo de CAUCA VIEJO,  municipio de Jericó (Ant.), abre sus puertas a la más deliciosa experiencia gastronómica, expresión del amor como realidad tangible.<br><br>
 
											Somos una empresa familiar que quiere compartir la más hermosa casa del Suroeste Antioqueño, bañado de energía positiva como regalo que acompaña sus paisajes de incomparable belleza.<br><br>

											Somos una familia acompañada de unos seres maravillosos que han encontrado en CASA HORIZONTES su proyecto de vida. Hacemos un equipo con vocación de hacer para nuestros visitantes, de su experiencia, algo inolvidable.
									 	</span> 
                    <div class="row" id="btn_call_to_action">
                        <div class="col-md-12 text-center">
                            <img src="http://i592.photobucket.com/albums/tt5/Mardini03/a2.png" class="img-responsive" id="image_logo" alt="">
                        </div>                        
                    </div>  
                </div>          
           </div>    
       </div> 
    </div>
</section>

<section id="temple">
    <aside class="cta-quote the_temple_2" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/3.jpg');">
        <div class="container-fluid wow fadeIn" id="section_text">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center" id="section_text_box">
                    <span class="quote"><span class="text-primary">La Casa</span></span>                
                    <span class="section-text">Nuestra sede es más que un Hotel Boutique, más que un Restaurante y más que una Cafetería; nuestra sede es más que nuestras cinco habitaciones diferentes y con personalidad propia; mucho más que un conjunto de cosas bellas; nuestra sede es la concreción material y medio para nuestro sueño de  amar como una realidad al servicio de los demás.</span>                
                </div>
            </div>
        </div>
    </aside>
</section>

<section id="golden_heads_club_new">
    <div class="container-fluid">       
       <div class="row" id="opacity_text">
           <div class="col-md-6 nopadding">
              <aside class="cta-quote the_temple_2" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/7.jpg');">           
              </aside> 
           </div>
           <div class="col-md-6 nopadding text-center">
                <div id="section_text_box">
                    <span class="quote"><span class="text-primary">Nuestros planes y servicios</span></span>          
                    <span class="section-text"><strong>QUE OFRECEMOS</strong> 
                    <hr class="colored">Como un todo, plan de hospedaje y alimentación.<br><br></span> 

                    <div class="table-responsive">
                    	<table class="table table-bordered">
                    		<tr>
                    			<th class="text-center">HABITACIÓN</th>
                    			<th class="text-center">CAMAS</th>
                    			<th class="text-center">COSTO/NOCHE ($)</th>
                    		</tr>
                    		<tbody>
                    			<tr>
                    				<td>LAS ROSAS</td>
                    				<td>Una doble</td>
                    				<td>500.000</td>
                    			</tr>
                    			<tr>
                    				<td>LA APLANCHADORA</td>
                    				<td>Una doble</td>
                    				<td>400.000</td>
                    			</tr>
                    			<tr>
                    				<td>CONFIDENCIAS</td>
                    				<td>Una doble y tres sencillas</td>
                    				<td>800.000</td>
                    			</tr>
                    			<tr>
                    				<td>LA COSTURERA</td>
                    				<td>Una doble y tres sencillas</td>
                    				<td>800.000</td>
                    			</tr>
                    			<tr>
                    				<td>LA ODALISCA</td>
                    				<td>Cuatro Sencillas</td>
                    				<td>800.000</td>
                    			</tr>
                    		</tbody>
                    	</table>
                    </div>
                    <span class="section-text">En las tarifas anteriores no se encuentra incluido el IVA y el Impuesto al Consumo, en lo que apliquen.<br><br>
                    <strong>ALIMENTACIÓN</strong>
                    <hr class="colored">$ 90.000/día y por persona mayor a los ocho años de edad.<br><br>
 
										Incluye desayuno, almuerzo y cena. Hidratación disponible durante el día: guandolo y jugos de fruta de temporada.<br><br>
										 
										La piscina y Jacuzzi (únicamente para los huéspedes del hotel), disponibles entre 10 A.M. y 10 P.M. (Salvo en días y horas de lluvia, en que se suspende el servicio).<br><br>
										
										<strong>SOBRE NUESTROS NIÑOS VISITANTES</strong>
										<hr class="colored">
										Tener presente que su cuidado, todo el tiempo, está a cargo de los padres.<br><br>
										 
										- Para niños mayores de dos y menores de ocho años, la alimentación y derechos a zonas húmedas, tiene un costo de $45.000/día.<br><br>
										 
										- Para los niños menores de dos años, por su alimentación muy especial, se suministrará, sin costo, de los alimentos disponibles para los niños entre dos y ocho años.
									</span>
                </div>          
           </div>    
       </div> 
    </div>
</section>

<section id="hotel_images">
  <div class="container-fluid">       
   	<div class="row" id="opacity_text">			
			<div class="col-md-6 nopadding text-center">
		    <div id="section_text_box">                         
	        <h3 class="image-gallery-title">Disfruta de nuestra galeria de imagenes y visitanos</h3>
	        <div class="row" id="btn_call_to_action">
            <div class="col-md-12 text-center">
              <img src="http://i592.photobucket.com/albums/tt5/Mardini03/a2.png" class="img-responsive" id="image_logo" alt="">
            </div>                        
	        </div>  
		    </div>          
			</div> 
			<div class="col-md-6 nopadding">  
		    <div class="galleria">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0019.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0020.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0024.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0027.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0025.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0030.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0022.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0021.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0035.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0031.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0038.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0036.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0033.jpg">
		      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/IMG-20150609-WA0032.jpg">
		    </div>
		    <script>
		      Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
		      Galleria.run('.galleria');
		    </script> 
			</div>      		
		</div>
	</div>
</section>

<section id="contact" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/pool.jpg');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color: rgb(235,211,119);">Contactanos</h2>
                <p>Porfavor cuentanos tus intereses y muy pronto nos pondremos en contacto contigo:</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="//formspree.io/info@casahorizontes.com" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Porfavor ingresa un nombre.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="Correo electrónico" id="email" required data-validation-required-message="Porfavor ingresa una dirección de correo electrónico">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" name="tel" class="form-control" placeholder="Número Telefónico" id="phone" required data-validation-required-message="Porfavor ingresa un número telefónico">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea name="message" rows="5" class="form-control" placeholder="Mensaje" id="message" required data-validation-required-message="Porfavor ingresa un mensaje"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <input type="hidden" name="_next" value="http://www.casahorizontes.com" />
                    <input type="hidden" name="_subject" value="Hay un nuevo interesado en saber sobre Hotel Casa Horizontes" />
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section id="experiences_intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center" id="section_text_box">
        <span class="quote"><span class="text-primary">Ubicación</span><br><br></span><span class="location-text">Estamos ubicados en el parque principal de CAUCA VIEJO. Saliendo de Medellín, se busca la variante al Municipio de Caldas, para llegar a Bolombolo. De allí a Peñalisa. Se toma luego la carretera que va a La Pintada y 5 Kilómetros antes de Puente Iglesias, está CAUCA VIEJO.</span>
      </div>
    </div>
  </div>
</section>


<section id="contact_us">
    <div class="container-fluid" id="contact">
        <div class="row" id="block_1">            
            <div class="col-md-6 col-sm-12 col-xs-12 nopadding text-center" id="contactus">
                <br><br><br><br><br>
                <span id="contact_us_block">Contáctanos</span>
                <h4>Linea de servicio al cliente</h4>
                <h2>318-517-1602</h2>
                <br>
                <h4>Email de contacto:</h4>
                <p>info@casahorizontes.com</p>
            </div>

            <div class="col-md-3 col-sm-6  col-xs-6 nopadding" id="youtube" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/IMG_6382casa%20horizontes.jpg');">                                          
            </div> 
            
            <div class="col-md-3 col-sm-6 col-xs-6 nopadding" id="twitter" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/h3.jpg');">            
            </div>  
            
            <div class="col-md-3 col-sm-6  col-xs-6 nopadding" id="youtube" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/h1.jpg');">
                                          
            </div> 

            <div class="col-md-3 col-sm-6 col-xs-6 nopadding" id="casa_horizontes">
                <img src="http://i592.photobucket.com/albums/tt5/Mardini03/a2.png" alt="" class="casa_horizontes_logo">  
            </div>
            
        </div>
        <div class="row" id="block_2">
            <div class="col-md-6 col-sm-12  col-xs-12 nopadding" id="map-canvas">
            </div> 

            <div class="col-md-3 col-sm-6  col-xs-6 nopadding" id="youtube" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/IMG_6223casa%20horizontes.jpg');">                                          
            </div> 
            
            <div class="col-md-3 col-sm-6  col-xs-6 nopadding" id="thumbnail" style="background-image: url('http://i592.photobucket.com/albums/tt5/Mardini03/bodegon.jpg');">
            </div> 
        </div>
    </div>
</section>

<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(5.868146, -75.761161),
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(5.868146, -75.761161),
      map: map,
      title: 'Hotel Casa Horizontes'
  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>