.section#cocina{
  @include respond-to ("small"){
    background-position: 50%;
    background-size: cover;
  }
}
.section#cocina .section{
  // background-image: url(asset-path('casa-horizontes/sections/cocina.jpg'));
  &__deck {
    position: absolute;
    left: 40px;
    bottom: 10px;
    width: 280px;
    color: #111111;
    line-height: 1.3;
  }

  &__decoration {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 100vh;
    width: 640px;
    background-image: url(asset-path('casa-horizontes/decorations/cocina.png'));
    background-position-y: bottom;
    background-repeat: no-repeat;
    @include respond-to ("small"){
      z-index: 0;
      width: 100vw;
    }
  }

  &__headline {
    position: absolute;
    bottom: 170px;
    left: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
  }

  &__text-one {
    display: block;
    font-size: 45px;
    line-height: 1.1;
    width: 320px;

    @include respond-to ("small"){
      font-size: 35px;
    }
  }

  &__text-two {
    display: block;
    font-size: 48px;
    line-height: 1;

    @include respond-to ("small"){
      font-size: 38px;
    }
  }

  &__decoration-line-one {
    position: absolute;
    left: -140px;
    top: -10px;
    height: 3px;
    width: 355px;
    background-color: #fff;
  }

  &__decoration-line-two {
    position: absolute;
    left: 30px;
    bottom: -17px;
    height: 3px;
    width: 280px;
    background-color: #fff;
  }

  &__chef {
    position: absolute;
    top: 100px;
    right: 5%;
    right: calc(40% - 522px);
    height: 522px;
    padding-top: 85px;
    padding-left: 70px;
    padding-right: 155px;
    width: 450px;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    background: url(asset-path('casa-horizontes/decorations/chef.png'));
    @include respond-to ("small"){
      display: none;
    }
  }

  &__link {
    position: absolute;
    left: 50px;
    bottom: 320px;
  }
}
