
#hospedaje_gallery {
  position: absolute;
  top: 65%;
  right: 30px;
  cursor: pointer;
  @include respond-to ("small"){
    top: 75%;
  }
}

#hospedaje_gallery:hover {
  opacity: 0.9;
}


.section#hospedaje .section{
  // background-image: url(asset-path('casa-horizontes/sections/hospedaje.jpg'));
  &__deck {
    position: absolute;
    right: 40px;
    top: 250px;
    width: 270px;
    color: #403b3e;
    text-align: right;
    @include respond-to ("small"){
      right: 20px;
      top: 210px;
    }
  }

  &__decoration {
    position: absolute;
    right: -1px;
    top: 0;
    height: 100vh;
    width: 465px;
    background-image: url(asset-path('casa-horizontes/decorations/hospedaje.png'));
    background-repeat: no-repeat;

    @include respond-to ("small"){
      z-index: 0;
    }
  }

  &__decoration-map {
    position: absolute;
    right: 50px;
    top: 100px;
    height: 100px;
    width: 100px;
    background-image: url(asset-path('casa-horizontes/decorations/antioquia.png'));
    background-repeat: no-repeat;
    @include respond-to ("small"){
      right: 70%;
      top: 200px;
      width: 70px;
      height: 70px;
      background-size: 70px;
    }
  }

  &__headline {
    position: absolute;
    top: 90px;
    right: 210px;
    font-weight: lighter;
    letter-spacing: 1px;
    @include respond-to ("small"){
      top: 50px;
      right: 20px;
    }
  }

  &__text-one {
    display: block;
    font-size: 52px;
    line-height: 1;
  }

  &__text-two {
    display: block;
    margin-left: 90px;
    font-size: 39px;
    line-height: 1;
  }

  &__decoration-line-one {
    position: absolute;
    left: -12px;
    top: -9px;
    height: 3px;
    width: 290px;
    background-color: #fff;
  }

  &__decoration-line-two {
    position: absolute;
    left: -12px;
    bottom: -12px;
    height: 3px;
    width: 290px;
    background-color: #fff;
  }
}
