<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12"> 
      <h2 class="text-center" style="margin-top: 150px;">Agregar Imagen a las galerias</h2>     
      <div class="text-center">
      	<%= render 'form' %>      
      </div>
    </div>
  </div>
</div>