.navigation__social {
  padding-left: 1rem;
  @include respond-to ("small"){
    display: none !important;
  }
}

.navigation__social-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding-left: 1rem;
}

.navigation__social-item {
  display: block;
  float: left;
}

.navigation__social-link {
  position: relative;
  top: 10px;
  display: block;
  height: 33px;
  margin-left: 5px;
  margin-right: 5px;
  width: 34px;
  background-repeat: no-repeat;
}

/* line 33, app/scss/components/social.scss */
.navigation__social-link--twitter {
  background-image: url(asset-path('casa-horizontes/icons/rsz_twitter-icon.png'));
}
/* line 33, app/scss/components/social.scss */
.navigation__social-link--pinterest {
  background-image: url(asset-path('casa-horizontes/icons/rsz_pinterest-icon.png'));
}
/* line 33, app/scss/components/social.scss */
.navigation__social-link--youtube {
  background-image: url(asset-path('casa-horizontes/icons/rsz_youtube-icon.png'));
}
/* line 36, app/scss/components/social.scss */
.navigation__social-link--facebook {
  background-image: url(asset-path('casa-horizontes/icons/rsz_facebook-1024-black.png'));
}
.navigation__social-link--instagram {
  background-image: url(asset-path('casa-horizontes/icons/rsz_instagram-1024-black.png'));
}
.navigation__social-link--tripadvisor {
  background-image: url(asset-path('casa-horizontes/icons/rsz_tripadvisor-1024-black.png'));
}

.navigation__social-text {
  font-size: 16px;
  @include respond-to ("small"){
    display: none;
  }
}