$smartphone: "(max-width: 767px)";
$smartphone-home: "(max-width: 767px)";

$mobile: "(max-width: 1059px)";

$tablet: "(min-width: 768px) and (max-width: 1059px)";
$tablet-home: "(min-width: 768px) and (max-width: 1059px)";

$tabletdesktop: "(min-width: 768px)";
$tabletdesktop-home: "(min-width: 768px)";

$desktop: "(min-width: 1060px)";
