<!DOCTYPE html>
<html>
<head>
  <title>Casa Hotel Horizontes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="components/normalize.css/normalize.css">

  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">

  <!-- Plugins-->
  
</head>
<body id="page-top">
	<nav class="navigation">
    <div class="navigation__menu">
      <div class="navigation__menu-btn"><i class="navigation__menu-icon"></i><span class="navigation__menu-text">Menu</span></div>
      <ul class="nagivation__menu-list">
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Inicio</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Acerca de Horizontes</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Terminos y Condiciones</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Preguntas Frecuentes</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Politica de Cancelacion</a></li>
        <li class="nagivation__menu-item"><a href="#" class="nagivation__menu-item-link">Personal del Hotel</a></li>
      </ul>
    </div>
    <div class="navigation__state">
      <p class="navigation__state-text">Intro</p>
    </div>
    <div class="navigation__circles">
      <ul id="myMenu" class="navigation__circles-list">
        <li data-menuanchor="firstPage" class="navigation__circles-item active"><a href="#firstPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="secondPage" class="navigation__circles-item"><a href="#secondPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="thirdPage" class="navigation__circles-item"><a href="#thirdPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="fourthPage" class="navigation__circles-item"><a href="#fourthPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="fivethPage" class="navigation__circles-item"><a href="#fivethPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="sixthPage" class="navigation__circles-item"><a href="#sixthPage" class="navigation__circles-link"></a></li>
        <li data-menuanchor="seventhPage" class="navigation__circles-item"><a href="#seventhPage" class="navigation__circles-link"></a></li>
      </ul>
    </div>
    <div class="navigation__social"><span class="navigation__social-text">Compartir</span>
      <ul class="navigation__social-list">
        <li class="navigation__social-item"><a href="http://twitter.com" class="navigation__social-link navigation__social-link--twitter"></a></li>
        <li class="navigation__social-item"><a href="http://facebook.com" class="navigation__social-link navigation__social-link--facebook"></a></li>
      </ul>
    </div>
  </nav>
    
	<%= yield %>
</body>
</html>
